@use "src/common/styles/color" as color;
.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  min-width: 25.62%;
  max-width: 26.04%;
  input[type="submit"] {
    min-height: 40px;
    background-color: color.$btn-bg-color;
    color: color.$txt-btn-color;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    min-width: 100%;

  }
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.7em;
  position: relative;
  & > input {
    border:2px solid white;
    padding-left: 0.75em;
    min-height: 40px;
    outline: none;
    border-radius: 5px;
    
  }
  & > span {
    text-align: center;
    max-height: inherit;
    width: 62%;
    position: absolute;
    top:10%;
    left: 110%;
    z-index: 3;
    padding: 0.5em;
    border: 2px solid red;
    border-radius: 5px;
    background-color: rgb(228, 116, 116);
    color: color.$txt-btn-color;
    &::after{
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 19px;
      border-style: solid;
      top: -2px;
      border-color: transparent red transparent transparent;
      left: -37px;
    }
  }

}
@media screen and (max-width:574px){
.label{
  & > span {
    height:inherit;
    top:20%;
    left: 48%;
    font-size: smaller;
    &::after{
      border-width: 16px;
      left: -31px;

    }
  }
}
}