@use "src/common/styles/color" as color;
.form {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  width: 90%;
  max-width: 600px;
  input[type="submit"] {
    min-height: 40px;
    background-color: color.$btn-bg-color;
    color: color.$txt-btn-color;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    width: 100%;
  }
}
.label,
.labelRevers {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.7em;
  position: relative;

  & > input {
    border: 2px solid white;
    padding-left: 0.75em;
    min-height: 40px;

    outline: none;
    border-radius: 5px;
  }
  & > span {
    text-align: center;
    max-height: inherit;
    width: 50%;
    position: absolute;
    top: 10%;
    left:40%;
    z-index: 3;
    padding: 0.5em;
    border: 2px solid red;
    border-radius: 5px;
    background-color: rgb(228, 116, 116);
    color: color.$txt-btn-color;
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 19px;
      border-style: solid;
      top: -2px;
      border-color: transparent red transparent transparent;
      left: -37px;
    }
  }

}

.radioBox {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.singleRadioBtn {
  display: flex;
  flex-direction: row;
  border: 1px color.$txt-btn-color solid;
  padding: 5px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .label,.labelRevers{
      width:47%;
    }
  }
}
@media screen and (min-width: 996px) {
  .labelRevers {
    & > span {
      left: -69%;
    
    }
    & > span::after {
      
      border-color: transparent transparent transparent red;
      left:100%;
    }
  }
  .label {
  & > span {
    left: 110%;
  }

}

}
